{% extends "base.html" %}

{% block content %}

<div class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<h1>{{end_date}}</h1>





<form action="{{url_for('.index')}}" method="POST" >

	{{ form.csrf_token }}

	<div>{{ form.end_date }}

	<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"> 

	</div>
</form>

</div>
<div class="  section--center mdl-grid mdl-grid--no-spacing">
	 <div class="mdl-cell mdl-cell--12-col">
<h1>Resumen</h1>
<table class="mdl-data-table mdl-js-data-table">

<thead>
<tr>
	<th class="mdl-data-table__cell--non-numeric"> Nombre  </th>
	<th> #Historias </th>
	<th> #Puntos </th>

	<th> #HistoriasB </th>
	<th> #Bugs Puntos </th>

</tr>
</thead>



<tbody>
{% for iteration in rows%}

	
		<tr>	

		<td class="mdl-data-table__cell--non-numeric"> {{ iteration.pname}} - {{iteration.name}}</td>
		<td > {{iteration.story_count}} </td>
		<td  >  {{iteration.spoints}}  </td>

		<td  >   {{iteration.sb}}  </td>
		<td  >   {{iteration.sbpoints}}  </td>

	</tr>

{% endfor %}

</tbody>
	<tr>
		<td></td>
		<td > {{ rows|sum(  attribute='story_count' )}} </td>
		<td  > {{ rows|sum(  attribute='spoints' )}} </td>

		<td  >  {{ rows|sum(  attribute='sb' )}}  </td>
		<td  >  {{ rows|sum(  attribute='sbpoints' )}}  </td>
	</tr>

</table>

</div>

</div>

<div class="mdl-grid">
 <div class="mdl-cell mdl-cell--12-col">


<h1> Usuarios </h1>
<table class="mdl-data-table mdl-js-data-table">
	<thead>
	<tr>
		<td class="mdl-data-table__cell--non-numeric">Usuario</td>
		
		<td > #Historias</td>
		<td> #Puntos </td>
	</tr>
	</thead>
	<tbody>

	{% for user in users %}

		<tr>
				<td class="mdl-data-table__cell--non-numeric">{{user.username}}</td>
				
				<td >{{user.total}}</td>
				<td >{{user.puntos}}</td>


		</tr>

	{% endfor %}
	</tbody>

	<tr>
				<td></td>
				
				<td >{{ users|sum(attribute='total') }}</td>
				<td >{{users|sum(attribute='puntos') }}</td>


		</tr>

</table>

</div>

</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">

<h1>Detalle</h1>


{% for iteration in iteration_list%}
	

	{% if iteration.stories|sum(attribute='points') > 0 %}


	<h2>{{iteration.project.name}} - {{iteration.name}}  ( {{ iteration.stories|sum(attribute='points') }} ) </h2>
	<br>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
			<tr>
					<th class="mdl-data-table__cell--non-numeric">  Usuario(s) </th>
					<th>  #Historia </th>
					<th class="mdl-data-table__cell--non-numeric">  Historia</th>
					<th>  Puntos </th>
					<th class="mdl-data-table__cell--non-numeric">  Status</th>
					<th class="mdl-data-table__cell--non-numeric">  Tipo</th>


			</tr>
		</thead>
		<tbody>
	{% for story in iteration.stories%}
	<tr>	

			<td class="mdl-data-table__cell--non-numeric"> 


				{{story.users|map(attribute='username')|join(', ') }}
				

			</td>

			<td> #{{story.number}}</td>
			<td class="mdl-data-table__cell--non-numeric"> {{story.summary|truncate(50)}} </td>
			<td > {{story.points}} </td>
			<td class="mdl-data-table__cell--non-numeric" style="text-align:center" > {{story.cell.label}} </td>
			<td  class="mdl-data-table__cell--non-numeric" style="text-align:center"> 


				{{story.labels|map(attribute='name')|join(', ') }}
				
				

			</td>

	</tr>

	{% endfor %} 
</tbody>
	

	</table>

	{% endif %}


{% endfor %}

</div>

</div>

{% endblock %}