{% extends "base.html" %}



{% block title %}

R1
{% endblock %}

{% block ltitle %}

R1
{% endblock %}






{% block content %}


<table style="margin:0px auto;" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"> 
<tr>
	<th></th>
	{% for col in select_list%}
	<th>{{col.end_date}}</th>
	{% endfor %}
	<th>Total</th>
</tr>

{% for projects in projects_list|groupby('name')%}
	<tr>	
			<td>{{projects.grouper}} </td>
			
			{% for col in select_list%}

			{% for project in projects.list if project.end_date ==  col.end_date %}
				
				
				<td>  {{project.points}}</td>

				
			{% else %}
				<td>0</td>

			{% endfor %}


			{% endfor %}

			<td>  {{projects.list|sum(attribute='points')}}  </td>

			
	</tr>

{% endfor %}

	<tr>
			<td> Total </td>
			{% for col in select_list%}

			<td>  

				{% for projects in projects_list|groupby('end_date')%}  

					{%if  projects.grouper == col.end_date %}
							
						{{  projects.list | sum( attribute='points' ) }}

					{% endif%}

				{% endfor %}
			 </td>

			{% endfor %}

			<td> {{  projects_list | sum( attribute='points' ) }}  </td>
	</tr>


</table>




{% endblock %}