{% extends "base.html" %}


{% block title %}

R3
{% endblock %}


{% block content %}



<h1>R3</h1>

<table style="margin:0px auto" class="mdl-data-table mdl-js-data-table">
<tr>
	<td class="mdl-data-table__cell--non-numeric"> Proyecto</td>
	<td class="mdl-data-table__cell--non-numeric"> #Puntos</td>
	<td class="mdl-data-table__cell--non-numeric"> # Bugs Puntos</td>
	<td class="mdl-data-table__cell--non-numeric"> Total de puntos </td>
	<td class="mdl-data-table__cell--non-numeric"> Porcentaje Bugs </td>
	
</tr>
{% for row in av%}
<tr>
	<td class="mdl-data-table__cell--non-numeric"> {{row.name}} </td>
	<td> {{row.points}} </td>
	<td>  {{row.bp}} </td>
	<td> {{row.points + row.bp}} </td>
	<td> {{ ( (row.points + row.bp) / 100 * row.bp ) | round(2)  }} % </td>
</tr>


{% endfor %}
</table>



{% endblock %}