{% extends "base.html" %}


{% block title %}

R5
{% endblock %}

{% block ltitle %}

R5
{% endblock %}


{% block content %}



<h1>R5</h1>

<table style="margin:0px auto" class="mdl-data-table mdl-js-data-table">
<tr>
	<td class="mdl-data-table__cell--non-numeric"> Proyecto</td>
	<td class="mdl-data-table__cell--non-numeric"> </td>
	
	
</tr>
{% for row in rows%}
<tr>
	<td class="mdl-data-table__cell--non-numeric">{{row.project}} {{row.name}} </td>
	<td class="mdl-data-table__cell--non-numeric"> {{row.terminados}} </td>
	



</tr>


{% endfor %}
</table>



{% endblock %}